* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f3f4f6;
}

.card{
    width: 100%;
    max-width: 500px;
    border: 1px solid;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

.cardHeader{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.selector{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin:10px;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.forms label{
    font-size: 1.1rem;
    display: block;
    margin-bottom: 5px;
}

.enter{
    width: 90%;
    padding: 5px;
    font-size: 14px;
    border-radius: 8px;
    margin: 20px;
    background: #6366f1;
    color: #fff;
}

#aluno, #professor{
    background: #6366f1;
    color: #fff;
    padding: 5px;
    border-radius: 10%;
}